<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="init/comm_head.html"></th:block>

    <!-- 에디터 css -->
    <link th:href="@{/assets/css/summernote.min.css}" rel="stylesheet" type="text/css"/>

    <!--custom Css -->
    <!-- end custom css -->

</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here  -->
    <!-- 기획서 Setting-01-02-->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">이용약관</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">이용약관</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-lg-12">
                        <form>

                            <!-- 첫번째 카드 -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="terms" class="form-label">이용약관</label>

                                        <textarea name="boardContent" id="terms"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- 하단 버튼 -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-end button-list">
                                        <button type="button" class="btn btn-outline-primary btn_bg"
                                                data-bs-toggle="modal" data-bs-target="#delete-modal"
                                                onclick="save(0);">저장
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                <!-- end col -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init/comm_script.html"></th:block>


<!-- Plugins js 에디터 -->
<script th:src="@{/assets/js/summernote.min.js}"></script>

<!-- Init js 에디터-->


<script type="text/javaScript">

    $(document).ready(function () {

        $('#content').summernote({height: 500, placeholder: '내용을 작성해 주세요.'});
        $('#terms').summernote({height: 500, placeholder: '내용을 작성해 주세요.'});
    });

    //알림
    function save(params) {
        Swal.fire({
            // position: 'top-end',
            icon: 'success',
            title: '이용약관이 저장 되었습니다.',
            showConfirmButton: false,
            timer: 1500
        })

    }

</script>

</body>

</html>