<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="init/comm_head.html"></th:block>

    <!--custom Css -->

    <!-- end custom css -->
</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- 기획서 Lecture-01-01 -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">팀목록</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">팀목록</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="searchTable mb-3">

                                    <div class="articleWrap row">
                                        <div class="col-lg-4 searchList">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>프로그램</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <select name="programName" class="form-select">
                                                    <option value="1">키즈 (7세~10세)</option>
                                                    <option value="2">주니어 (11세~13세)</option>
                                                    <option value="3">유스 (14세~16세)</option>
                                                    <option value="4">하이틴 (17세~19세)</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 searchList">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>팀명</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <input name="teamName" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>강사이름</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <input name="teacherName" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="articleWrap">
                                        <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                            <p>기간</p>
                                        </div>
                                        <div class="d-table-cell align-middle articleChoice">
                                            <div class="float-start searchDate me-2">
                                                <input class="form-control dateInput" type="date" name="searchDate"> ~
                                                <input class="form-control dateInput" type="date" name="searchDate">
                                            </div>

                                            <div class="button-list float-start">
                                                <button type="button" class="btn btn-outline-primary">어제</button>
                                                <button type="button" class="btn btn-outline-primary">오늘</button>
                                                <button type="button" class="btn btn-outline-primary">이번주</button>
                                                <button type="button" class="btn btn-outline-primary">이번달</button>
                                                <button type="button" class="btn btn-outline-primary">지난주</button>
                                                <button type="button" class="btn btn-outline-primary">지난달</button>
                                                <button type="button" class="btn btn-outline-primary">전체</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-list text-center mb-3">
                                    <button type="button" class="btn btn-primary btn_bg btn90">검색</button>
                                </div>


                                <table id="table" class="table table-hover nowrap w-100">
                                    <thead>
                                    <tr class="text-center">
                                        <th>dataID</th>
                                        <th>#</th>
                                        <th class="text-start">팀 이름</th>
                                        <th>강의 기간</th>
                                        <th>전체강의 횟수</th>
                                        <th>강사 이름</th>
                                        <th>팀 구성원 수</th>
                                        <th>등록일시</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    <tr class="cursor text-center">
                                        <td>1</td>
                                        <td>10</td>
                                        <td class="text-start">주니어-1팀</td>
                                        <td>2021.08.01 ~ 2021.09.20</td>
                                        <td>21</td>
                                        <td>도지은</td>
                                        <td>32</td>
                                        <td>2020-09-27 10:30</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>2</td>
                                        <td>9</td>
                                        <td class="text-start">주니어-1팀</td>
                                        <td>2021.08.01 ~ 2021.09.20</td>
                                        <td>21</td>
                                        <td>도지은</td>
                                        <td>32</td>
                                        <td>2020-09-27 10:30</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>3</td>
                                        <td>8</td>
                                        <td class="text-start">주니어-1팀</td>
                                        <td>2021.08.01 ~ 2021.09.20</td>
                                        <td>21</td>
                                        <td>도지은</td>
                                        <td>32</td>
                                        <td>2020-09-27 10:30</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>4</td>
                                        <td>7</td>
                                        <td class="text-start">주니어-1팀</td>
                                        <td>2021.08.01 ~ 2021.09.20</td>
                                        <td>21</td>
                                        <td>도지은</td>
                                        <td>32</td>
                                        <td>2020-09-27 10:30</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>5</td>
                                        <td>6</td>
                                        <td class="text-start">주니어-1팀</td>
                                        <td>2021.08.01 ~ 2021.09.20</td>
                                        <td>21</td>
                                        <td>도지은</td>
                                        <td>32</td>
                                        <td>2020-09-27 10:30</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>6</td>
                                        <td>5</td>
                                        <td class="text-start">주니어-1팀</td>
                                        <td>2021.08.01 ~ 2021.09.20</td>
                                        <td>21</td>
                                        <td>도지은</td>
                                        <td>32</td>
                                        <td>2020-09-27 10:30</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>7</td>
                                        <td>4</td>
                                        <td class="text-start">주니어-1팀</td>
                                        <td>2021.08.01 ~ 2021.09.20</td>
                                        <td>21</td>
                                        <td>도지은</td>
                                        <td>32</td>
                                        <td>2020-09-27 10:30</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>8</td>
                                        <td>3</td>
                                        <td class="text-start">주니어-1팀</td>
                                        <td>2021.08.01 ~ 2021.09.20</td>
                                        <td>21</td>
                                        <td>도지은</td>
                                        <td>32</td>
                                        <td>2020-09-27 10:30</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div>
                                    <button type="button" class="btn btn-primary waves-effect waves-light position_Btm_btn_right btn_bg" onclick="moveRegister();">팀등록</button>
                                </div>


                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </div><!-- end col-->
                </div>
                <!-- end row-->


            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init/comm_script.html"></th:block>

<script type="text/javaScript">
    let table;

    $(document).ready(function () {
        table = $('#table').DataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
            ],
            "ordering": false,
            "scrollX": true,
            "searching": false, //검색 삭제

            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                }
            },
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
        });
    });


    $('#table tbody').on('click', 'td', function () {
        let indexColumnVisible = table.cell(this).index().columnVisible; //노출되는 컬럼(열) 중 클릭한 컬럼의 index
        let indexColumn = table.cell(this).index().column; // 감춰진 것 까지 포함된 컬럼(열)의 index
        let indexRow = table.cell(this).index().row; //클릭한 Row(행)의  index
        let totalColumnCount = table.columns().count(); //전체 열 갯수
        let indexData = table.row(this).data()[0]; //감춰진 0번째 dataID 값

        if (indexColumn < totalColumnCount) {
            location.href =  conPath + "pub/team/detail?id=" + indexData;
        }
    });


    //팀등록
    function moveRegister() {
        location.href =  conPath + "pub/team/register/teacher";
    }

</script>

</body>

</html>