<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="init/comm_head.html"></th:block>

    <!--custom Css -->

    <!-- end custom css -->
</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- 기획서 Member-01-01 -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">사용자 목록</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">사용자 목록</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="searchTable mb-3">

                                    <div class="articleWrap row">
                                        <div class="col-md-3 searchList">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>이름</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <input name="userName" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3 searchList">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>성별</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <div class="form-check float-start">
                                                    <input class="form-check-input" type="radio" name="sex" id="sex1" checked>
                                                    <label class="form-check-label" for="sex1">
                                                        전체
                                                    </label>
                                                </div>
                                                <div class="form-check float-start ms-2">
                                                    <input class="form-check-input" type="radio" name="sex" id="sex2">
                                                    <label class="form-check-label" for="sex2">
                                                        남성
                                                    </label>
                                                </div>
                                                <div class="form-check float-start ms-2">
                                                    <input class="form-check-input" type="radio" name="sex" id="sex3">
                                                    <label class="form-check-label" for="sex3">
                                                        여성
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>생년월일</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <input class="form-control dateInput" type="date" name="searchDate"> ~
                                                <input class="form-control dateInput" type="date" name="searchDate">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="articleWrap">
                                        <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                            <p>가입일</p>
                                        </div>
                                        <div class="d-table-cell align-middle articleChoice">
                                            <div class="float-start searchDate me-2">
                                                <input class="form-control dateInput" type="date" name="searchDate"> ~
                                                <input class="form-control dateInput" type="date" name="searchDate">
                                            </div>

                                            <div class="button-list float-start">
                                                <button type="button" class="btn btn-outline-primary">어제</button>
                                                <button type="button" class="btn btn-outline-primary">오늘</button>
                                                <button type="button" class="btn btn-outline-primary">이번주</button>
                                                <button type="button" class="btn btn-outline-primary">이번달</button>
                                                <button type="button" class="btn btn-outline-primary">지난주</button>
                                                <button type="button" class="btn btn-outline-primary">지난달</button>
                                                <button type="button" class="btn btn-outline-primary">전체</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-list text-center mb-3">
                                    <button type="button" class="btn btn-primary btn_bg btn90">검색</button>
                                    <button type="button" class="btn btn-outline-success float-end">검색결과 엑셀다운로드</button>
                                </div>

                                <div class="button-list">

                                </div>


                                <table id="table" class="table table-hover nowrap w-100">
                                    <thead>
                                    <tr class="text-center">
                                        <th>dataID</th>
                                        <th>#</th>
                                        <th>가입일시</th>
                                        <th>이름</th>
                                        <th>성별</th>
                                        <th>생년월일</th>
                                        <th>구독 횟수</th>
                                        <th>결제금액</th>
                                        <th>구독 만료</th>
                                        <th>수강중인 팀</th>
                                        <th>특별활동 팀</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    <tr class="cursor text-center">
                                        <td>1</td>
                                        <td>10</td>
                                        <td>2020-09-27 10:30</td>
                                        <td>원빈</td>
                                        <td>남성</td>
                                        <td>1989. 01. 23</td>
                                        <td>23</td>
                                        <td>1,220,000</td>
                                        <td>22일전</td>
                                        <td>기초(주니어) 기초+(주니어)</td>
                                        <td>1팀(독서클럽)<br/> 2팀(명사특강)</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>2</td>
                                        <td>9</td>
                                        <td>2020-09-27 10:30</td>
                                        <td>원빈</td>
                                        <td>남성</td>
                                        <td>1989. 01. 23</td>
                                        <td>23</td>
                                        <td>1,220,000</td>
                                        <td>22일전</td>
                                        <td>기초(주니어) 기초+(주니어)</td>
                                        <td>1팀(독서클럽)<br/> 2팀(명사특강)</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>3</td>
                                        <td>8</td>
                                        <td>2020-09-27 10:30</td>
                                        <td>원빈</td>
                                        <td>남성</td>
                                        <td>1989. 01. 23</td>
                                        <td>23</td>
                                        <td>1,220,000</td>
                                        <td>22일전</td>
                                        <td>기초(주니어) 기초+(주니어)</td>
                                        <td>1팀(독서클럽)<br/> 2팀(명사특강)</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>4</td>
                                        <td>7</td>
                                        <td>2020-09-27 10:30</td>
                                        <td>원빈</td>
                                        <td>남성</td>
                                        <td>1989. 01. 23</td>
                                        <td>23</td>
                                        <td>1,220,000</td>
                                        <td>22일전</td>
                                        <td>기초(주니어) 기초+(주니어)</td>
                                        <td>1팀(독서클럽)<br/> 2팀(명사특강)</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>5</td>
                                        <td>6</td>
                                        <td>2020-09-27 10:30</td>
                                        <td>원빈</td>
                                        <td>남성</td>
                                        <td>1989. 01. 23</td>
                                        <td>23</td>
                                        <td>1,220,000</td>
                                        <td>22일전</td>
                                        <td>기초(주니어) 기초+(주니어)</td>
                                        <td>1팀(독서클럽)<br/> 2팀(명사특강)</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>6</td>
                                        <td>5</td>
                                        <td>2020-09-27 10:30</td>
                                        <td>원빈</td>
                                        <td>남성</td>
                                        <td>1989. 01. 23</td>
                                        <td>23</td>
                                        <td>1,220,000</td>
                                        <td>22일전</td>
                                        <td>기초(주니어) 기초+(주니어)</td>
                                        <td>1팀(독서클럽)<br/> 2팀(명사특강)</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>7</td>
                                        <td>4</td>
                                        <td>2020-09-27 10:30</td>
                                        <td>원빈</td>
                                        <td>남성</td>
                                        <td>1989. 01. 23</td>
                                        <td>23</td>
                                        <td>1,220,000</td>
                                        <td>22일전</td>
                                        <td>기초(주니어) 기초+(주니어)</td>
                                        <td>1팀(독서클럽)<br/> 2팀(명사특강)</td>
                                    </tr>

                                    <tr class="cursor text-center">
                                        <td>8</td>
                                        <td>3</td>
                                        <td>2020-09-27 10:30</td>
                                        <td>원빈</td>
                                        <td>남성</td>
                                        <td>1989. 01. 23</td>
                                        <td>23</td>
                                        <td>1,220,000</td>
                                        <td>22일전</td>
                                        <td>기초(주니어) 기초+(주니어)</td>
                                        <td>1팀(독서클럽)<br/> 2팀(명사특강)</td>
                                    </tr>


                                    </tbody>
                                </table>


                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </div><!-- end col-->
                </div>
                <!-- end row-->


            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init/comm_script.html"></th:block>

<script type="text/javaScript">
    let table;

    $(document).ready(function () {
        table = $('#table').DataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
            ],
            "ordering": false,
            "scrollX": true,
            "searching": false, //검색 삭제

            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                }
            },
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
        });
    });


    $('#table tbody').on('click', 'td', function () {
        let indexColumnVisible = table.cell(this).index().columnVisible; //노출되는 컬럼(열) 중 클릭한 컬럼의 index
        let indexColumn = table.cell(this).index().column; // 감춰진 것 까지 포함된 컬럼(열)의 index
        let indexRow = table.cell(this).index().row; //클릭한 Row(행)의  index
        let totalColumnCount = table.columns().count(); //전체 열 갯수
        let indexData = table.row(this).data()[0]; //감춰진 0번째 dataID 값

        if (indexColumn < totalColumnCount) {
            location.href = "/pub/user/update?id=" + indexData;
        }
    });

</script>

</body>

</html>