<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 에디터 css -->
    <link th:href="@{/assets/css/summernote.min.css}" rel="stylesheet" type="text/css"/>
    <title>Title</title>
</head>
<body>
    <div>
        <p>
            <span>*</span> 표시는 필수 입니다.
        </p>
        <form th:action='@{/term/insertUpdate}' th:object='${termModel}' method="post">
            <input type="hidden" name="edit" th:value="${edit}">
            <input type="hidden" th:field='*{termId}' th:value="${termId}">

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="nameInput" class="form-label">이용약관 명<span>*</span></label>
                    <input type="text" th:field='*{termName}' th:text='${termName}'
                           id="nameInput" required placeholder="약관명을 입력해 주세요">
                </div>
                <div class="row">
                    <div class="mb-3  col-md-12">
                        <label for="introduction" class="form-label">약관 내용<span class="text-danger">*</span></label>
                        <div>
                            <textarea th:field='*{termContent}' th:text='${termContent}'
                                      id="introduction" rows="5" required placeholder="약관 내용을 등록하십시오"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3  col-md-12">
                        <label for="introduction" class="form-label">정보제공동의 내용<span class="text-danger">*</span></label>
                        <div>
                            <textarea th:field='*{termAgreeContent}' th:text='${termAgreeContent}'
                                      id="introduction" rows="5" required placeholder="정보제공동의 내용을 등록하십시오"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-end">
                <button type="submit" th:text="${edit eq 1 ? '수정완료' : '등록'}"></button>
            </div>
        </form>
    </div>
</body>
</html>