<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="init/comm_head.html"></th:block>


    <!--custom Css -->
    <!-- end custom css -->

</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here  -->
    <!-- 기획서 Setting-02-01-->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">[[${title}]] 슬라이드 관리</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">[[${title}]] 슬라이드 관리</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                            <!-- 첫번째 카드 -->
                            <div class="card">
                                <div class="card-body">
                                    <table id="table" class="table table-hover nowrap w-100">
                                        <thead>
                                        <tr class="text-center">
                                            <!--                                        <th>dataID</th>-->
                                            <th>#</th>
                                            <th>이미지</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each='_,num : ${lsData}' class="">
                                            <td class="text-center" th:text='${num.count}'></td>
                                            <td class="text-center"><img class="mb-3" th:src="${_.imgSrc}" width="150" height="150"></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-outline-warning " th:onclick="editSlider([[${_.id}]],[[${_.imgSrc}]]);">수정</button>
                                                <button type="button" class="btn btn-sm btn-outline-danger "   th:onclick="delSlider([[${_.id}]]);">삭제</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        <!-- \ 카드 -->
                        <div class="card" id="insertCard">
                            <div class="card-body">
                                <h5 class="card-title">슬라이드 이미지 추가</h5>
                                <p class="card-text">파일 선택버튼을 눌러 이미지 선택 후 이미지 추가버튼을 눌러주세요. (사이즈 : 900px * 500px)</p>
                                <form th:action='@{/slider/add}' method="post">
                                    <div class="mb-3 col-md-6 pt-1">
                                        <input id="type" name="type" type="hidden" th:value="${type}"><!--서버에 업로드 된&될 이미지 url-->
                                        <input id="imgSrc" name="imgSrc" type="hidden" ><!--서버에 업로드 된&될 이미지 url-->
                                        <img id="img" class="mb-3" src='https://via.placeholder.com/900x500' width="360" height="200">
                                        <input name="artImage" id="artImage" type="file"
                                               class="form-control mb-3" placeholder="파일첨부" required>
                                        <button type="submit"  class="btn btn-sm btn-primary">이미지 추가</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- \ 카드 -->
                        <div class="card" id="updateCard">
                            <div class="card-body">
                                <h5 class="card-title">이미지 수정</h5>
                                <p class="card-text">파일 선택버튼을 눌러 이미지 선택 후 이미지 추가버튼을 눌러주세요. (사이즈 : 900px * 500px)</p>
                                <form th:action='@{/slider/edit}' method="post">
                                    <div class="mb-3 col-md-6 pt-1">
                                        <input  name="type" type="hidden" th:value="${type}">
                                        <input id="editId"  name="id" type="hidden" >
                                        <input id="imgSrcEdit" name="imgSrc" type="hidden" ><!--서버에 업로드 된&될 이미지 url-->
                                        <img id="imgEdit" class="mb-3" src='https://via.placeholder.com/900x500' width="360" height="200">
                                        <input name="artImage" id="artImageEdit" type="file"
                                               class="form-control mb-3" placeholder="파일첨부" required>
                                        <button type="button"  class="btn btn-sm btn-secondary m-1"  th:onclick="cancelEdit();">취소</button>
                                        <button type="submit"  class="btn btn-sm btn-warning m-1">이미지 수정</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init/comm_script.html"></th:block>


<!-- Plugins js 에디터 -->


<!-- Init js 에디터-->


<script type="text/javaScript">

    /*<![CDATA[*/
    let urlType = "[[ ${type} ]]";
    let editImgId = -1;
    /*]]*/

    let table;
    $(document).ready(function(){
        $('#updateCard').hide();

    });

    function delSlider(sliderId){
        Swal.fire({
            title: '삭제 알림',
            html: '슬라이드 이미지를 삭제 하시겠습니까?<br/> 삭제시 복구가 불가능합니다.',
            showDenyButton: false, //거절버튼
            showCancelButton: true, //취소버튼
            confirmButtonText: '삭제', //확인 글자
            confirmButtonColor: '#f1556c',
            denyButtonText: `Don't save`, //거절 글자
            cancelButtonText: `취소`, //취소 글자
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                //승인 눌럿을때
                location.href = conPath + "slider/delete?type=" + urlType + "&id=" + sliderId;
            } else if (result.isDenied) {
            }
        })

    }
    function editSlider(sliderId,imgSrc){
        $('#updateCard').show();
        $('#insertCard').hide();
        editImgId = sliderId;

        $('#editId').val(sliderId);
        $('#imgEdit').attr("src",imgSrc);

    }
    function cancelEdit(){
        $('#updateCard').hide();
        $('#insertCard').show();
    }

    $("#artImage").on("change", handleImgFileSelect);
    $("#artImageEdit").on("change", handleImgFileSelectEdit);

    //사진 선택
    function handleImgFileSelect(e) {
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);

        var reg = /(.*?)\/(jpg|jpeg|png|bmp)$/;

        filesArr.forEach(function(f) {
            // 파일 확장자 Not Match
            if (!f.type.match(reg)) {
                if ($.browser.msie) {
                    // ie 일때 input[type=file] init.
                    $("#artImage").replaceWith( $("#artImage").clone(true) );
                } else {
                    // other browser 일때 input[type=file] init.
                    $("#artImage").val("");
                }
                $("#img").attr("src", "https://via.placeholder.com/150"); //이미지 초기화
                $("#imgSrc").val("");

                alert("확장자는 이미지 확장자만 가능합니다.");
                return;
            }else{
                let sel_file = f;

                let reader = new FileReader();
                reader.onload = function(e) {
                    // $("#img").attr("src", e.target.result);

                    //서버에 업로드
                    let formData = new FormData();
                    formData.append("images", sel_file);
                    $.ajax({
                        data : formData,
                        type : "POST",
                        url : conPath + "images",
                        contentType : false,
                        processData : false,
                        success : function(data) {
                            //항상 업로드된 파일의 url이 있어야 한다.
                            $("#imgSrc").removeAttr();
                            $("#imgSrc").val(data);
                            $("#img").attr("src", data); //이미지 초기화
                            console.log('img',data);
                            console.log('techerProfileValue ::::: ',$("#imgSrc").val());

                            // $("#teacherProfile").val(data);
                        },

                    }).fail(function(data, textStatus, errorThrown){
                        // callback(data);
                        alert('재등록해주세요.');
                    });;
                }
                reader.readAsDataURL(f);
            }
        });
    }

    //사진 선택
    function handleImgFileSelectEdit(e) {
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);

        var reg = /(.*?)\/(jpg|jpeg|png|bmp)$/;

        filesArr.forEach(function(f) {
            // 파일 확장자 Not Match
            if (!f.type.match(reg)) {
                if ($.browser.msie) {
                    // ie 일때 input[type=file] init.
                    $("#artImageEdit").replaceWith( $("#artImageEdit").clone(true) );
                } else {
                    // other browser 일때 input[type=file] init.
                    $("#artImageEdit").val("");
                }
                $("#imgEdit").attr("src", "https://via.placeholder.com/150"); //이미지 초기화
                $("#imgSrcEdit").val("");

                alert("확장자는 이미지 확장자만 가능합니다.");
                return;
            }else{
                let sel_file = f;

                let reader = new FileReader();
                reader.onload = function(e) {
                    // $("#img").attr("src", e.target.result);

                    //서버에 업로드
                    let formData = new FormData();
                    formData.append("images", sel_file);
                    $.ajax({
                        data : formData,
                        type : "POST",
                        url : conPath + "images",
                        contentType : false,
                        processData : false,
                        success : function(data) {
                            //항상 업로드된 파일의 url이 있어야 한다.
                            $("#imgSrcEdit").removeAttr();
                            $("#imgSrcEdit").val(data);
                            $("#imgEdit").attr("src", data); //이미지 초기화
                            console.log('img',data);
                            console.log('techerProfileValue ::::: ',$("#imgEdit").val());

                            // $("#teacherProfile").val(data);
                        },

                    }).fail(function(data, textStatus, errorThrown){
                        // callback(data);
                        alert('재등록해주세요.');
                    });;
                }
                reader.readAsDataURL(f);
            }
        });
    }






</script>

</body>

</html>