<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="init/comm_head.html"></th:block>
    <!--custom Css -->
    <link th:href="@{/assets/css/team.css}" rel="stylesheet" type="text/css"/>
    <!-- end custom css -->

</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here  -->
    <!-- 기획서 Lecture-01-03-01 -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content mb-5">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">팀등록</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0 ">
                                    <li class="breadcrumb-item"><a th:href="@{/pub/team/list}">팀목록</a></li>
                                    <li class="breadcrumb-item active">팀등록</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <form th:action='@{/team/{pathParam}(pathParam=${urlType})}' th:object='${reqModel}' method="post">
                    <input type="hidden" name="edit" th:value="${edit}">
                    <input type="hidden" th:field='*{teamId}' th:value="${teamId}">
                    <input type="hidden" th:field='*{division}' th:value="${0}">
                    <input type="hidden" id="fkTUserId" th:field='*{fkTUserId}' th:value="${fkTUserId}" >
                    <div class="row" id="first_section">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <p class="form_title">강사목록</p>
                                    <p class="m-0">강사를 선택하시면 등록됩니다.</p>

                                    <table id="table" class="table nowrap w-100">
                                        <thead>
                                        <tr>
                                            <th>dataID</th>
                                            <th>강사 정보</th>
                                            <th>강의</th>
                                            <th>특별활동</th>
                                            <th> </th>
                                        </tr>
                                        </thead>


                                        <tbody>
                                        <tr th:each='_,num : ${teacherList}'>
                                            <td th:text="${num.count}"></td>
                                            <td>
                                                <div class="teacherImg rounded overflow-hidden">
                                                    <img th:src='${_.teacherProfile}' class="img-fluid rounded" width="200"/>
                                                </div>
                                                <p class="text-center mb-0 mt-1 teacherName" th:text='${_.userName}'></p>
                                            </td>
                                            <td>
                                                <p th:text="${_.teamName}"></p>
                                            </td>
                                            <td>
                                                <p th:text="${_.specialTeamName}"></p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary" th:onclick="selectTeacher([[${_.userId}]],[[${_.userName}]],[[${_.teacherProfile}]])">선택</button>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>


                    <div class="row" id="second_section">
                        <div class="col-lg-12">
                                <!-- 첫번째 카드 -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="mb-3 col-lg-2">
                                                <label class="form-label">프로그램</label>
                                                <div class="d-table-cell align-middle">
                                                    <select th:name='fkProgramId' id="field" class="form-select">
                                                        <option disabled selected hidden>프로그램을 선택해주세요.</option>
                                                        <option th:each='_ : ${programList}'
                                                                th:value='${_?.programId}'
                                                                th:utext='|${_?.programName}(${_?.programStartAge}~${_?.programEndAge})|'
                                                                th:selected="${programId eq fkProgramId}"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="mb-3 col-lg-3">
                                                <label class="form-label">팀명 <span class="text-danger">*</span></label>
                                                <input name="teamName" th:field='*{teamName}' th:text='${teamName}'
                                                       type="text" class="form-control" required placeholder="팀명을 입력해 주세요.">
                                            </div>

                                            <div th:if="${urlType eq 'update'}">
                                                <div class="mb-3 col-lg-3">
                                                    <label class="form-label">전체강의횟수</label>
                                                    <input name="classCount" type="text" th:field='*{totalLecture}' th:text='${totalLecture}' class="form-control" disabled>
                                                </div>

                                                <div class="mb-3 col-lg-4">
                                                    <label class="form-label">강의기간</label>
                                                    <div class="classPeriod">
                                                        <input name="classPeriod" class="form-control" type="date" th:field='*{startDt}' th:text='${startDt}' disabled>
                                                        ~
                                                        <input name="classPeriod" class="form-control float-right" type="date" th:field='*{endDt}' th:text='${endDt}' disabled>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="grayLine"></div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="form-label form_title">강사</label>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <div class="mb-2 pt-1">
                                                            <img id="preTeacherImg" th:src='${reqModel?.teacherProfile}' class="img-fluid rounded" width="200"/>
                                                            <img id="teacherImg"  class="img-fluid rounded" width="200"/>
                                                        </div>
                                                        <div th:if="${urlType eq 'update'}">
                                                            <input type="text" class="form-control" id="teacherName"
                                                                   th:field='*{userName}' th:text='${userName}' disabled>
                                                        </div>
                                                        <button type="button" class="btn btn-outline-primary align-bottom mt-2"  onclick="moveTeacherList();">강사 목록</button>
                                                    </div>

                                                    <div class="col-md-10">
                                                        <div class="mb-2">
                                                            <label class="form-label">강의 소개<span class="text-danger">*</span></label>
                                                            <div>
                                                                <textarea class="form-control" id="lectureIntroduction" rows="5"
                                                                          th:field='*{introduce}' th:text='${introduce}'
                                                                          required placeholder="강의 소개를 작성해 주세요."></textarea>
                                                            </div>
                                                        </div>
<!--                                                        <div>-->
<!--                                                            <label class="form-label">강의자료 YouTube 링크</label>-->
<!--                                                            <input name="lectureMtrls" type="text" placeholder="강의자료 YouTube 링크 작성해 주세요." class="form-control"-->
<!--                                                                   th:field='*{link}' th:text='${link}'>-->
<!--                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!-- 하단 버튼 -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-start">
                                        <button type="button" class="btn btn-outline-primary btn_bg" onclick="moveBack();">취소</button>
                                    </div>
                                    <div class="float-end button-list">
<!--                                        <button type="button" class="btn btn-primary btn_bg" onclick="moveStudentRegister();">팀 생성후 일정/학생등록</button>-->
                                        <button class="btn btn-primary btn_bg" type="submit" th:text="${edit eq 1 ? '수정완료' : '팀생성 후 일정/학생 등록'}"></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end col -->

                </form>
            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init/comm_script.html"></th:block>


<script type="text/javaScript">

    /*<![CDATA[*/
    // let regiType = [[${urlType}]];
    let profile = "[[${teacherProfile}]]";
    /*]]>*/

    console.log("profile",profile);

    let edit = $("input[name='edit']").val();

    let table;
    let cntChapter = 0;

    $(function () {
        $('.menu03').addClass('menuitem-active');
        $('.menu03-menu').addClass('show');
        $('.menu03-1').addClass('active');

        console.log(Object.prototype.toString.call($("input[name='edit']").val()));
        console.log(Object.prototype.toString.call(edit));

        if(edit === "1"){
            $("#first_section").hide(); //선생님은 이미 선택되어 있는 상태이므로 선택되어 있는 선생님을 노출 바꾸는건 버튼으로 !
            $("#second_section").show();
        }else{
            $("#second_section").hide();
            $("#first_section").show();
        }

        table = $('#table').DataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
                { "width": "100px", "targets": 1 },
                { "width": "10%", "targets": 4 }
            ],
            "lengthChange": false,//페이지 개수 삭제
            "ordering": false,
            "scrollX": true,

            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                }
            },
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
        });
    });

    $('#table tbody').on('click', 'td', function () {
        let indexColumnVisible = table.cell(this).index().columnVisible; //노출되는 컬럼(열) 중 클릭한 컬럼의 index
        let indexColumn = table.cell(this).index().column; // 감춰진 것 까지 포함된 컬럼(열)의 index
        let indexRow = table.cell(this).index().row; //클릭한 Row(행)의  index
        let totalColumnCount = table.columns().count(); //전체 열 갯수
        let indexData = table.row(this).data()[0]; //감춰진 0번째 dataID 값

        // if (indexColumn < totalColumnCount) {
        //     // 수정&삭제 영역은 클릭 적용하지 않음
        //     location.href = "/pub/notice/detail?id=" + indexData;
        // }
    });

    function selectTeacher (id,name,src){
        console.log("id",id);
        console.log("name",name);
        console.log("src",src);
        $("#fkTUserId").val(id);
        $("#teacherName").val(name);
        $("#teacherImg").attr("src",src);

        $("#preTeacherImg").attr("src","");
        $("#first_section").hide();
        $("#second_section").show();
    }

    //강사목록
    function moveTeacherList() {
        $("#second_section").hide();
        $("#first_section").show();
    }

    //뒤로
    function moveBack() {
        location.href = conPath + "team/list";
    }

    //팀 생성후 일정/학생등록
    function moveStudentRegister() {
        location.href = conPath + "pub/team/register2";
    }

</script>

</body>

</html>