<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="init/comm_head.html"></th:block>
    <!--custom Css -->

    <!-- end custom css -->
</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- 기획서 Board-01-01 -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">공지사항</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">공지사항</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <table id="table" class="table table-hover nowrap w-100">
                                    <thead>
                                    <th>dataID</th>
                                    <th>#</th>
                                    <th>제목</th>
                                    <th>작성일자</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each='_,num : ${boardList}' class="cursor"
                                        th:onclick="moveDetails([[${_.boardId}]]);">
                                        <td th:text='${_.boardId}'></td>
                                        <td th:text='${num.count}'></td>
                                        <td th:text='${_.boardTitle}'></td>
                                        <td th:text='${_.boardUpdated}'></td>
                                    </tr>


                                    </tbody>
                                </table>

                                <div>
                                    <button type="button"
                                            class="btn btn-primary waves-effect waves-light position_Btm_btn_right btn_bg"
                                            onclick="moveRegister();">공지 등록
                                    </button>
                                </div>

                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </div><!-- end col-->
                </div>
                <!-- end row-->


            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init/comm_script.html"></th:block>

<script type="text/javaScript">
    let table;

    $(document).ready(function () {
        table = $('#table').DataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
                {"width": "3%", "targets": 1},
                {"width": "10%", "targets": 3}
            ],
            "ordering": false,
            "scrollX": true,

            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                }
            },
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
        });
    });


    $('#table tbody').on('click', 'td', function () {
        let indexColumnVisible = table.cell(this).index().columnVisible; //노출되는 컬럼(열) 중 클릭한 컬럼의 index
        let indexColumn = table.cell(this).index().column; // 감춰진 것 까지 포함된 컬럼(열)의 index
        let indexRow = table.cell(this).index().row; //클릭한 Row(행)의  index
        let totalColumnCount = table.columns().count(); //전체 열 갯수
        let indexData = table.row(this).data()[0]; //감춰진 0번째 dataID 값

        if (indexColumn < totalColumnCount) {
            // 수정&삭제 영역은 클릭 적용하지 않음
            location.href =  conPath + "board/detail?id=" + indexData;
        }
    });

    //공지사항 등록
    function moveRegister() {
        location.href =  conPath + "board/register";
    }
</script>

</body>

</html>