@charset "UTF-8";
/* 대시보드 */
.lecture_txt01 {
    font-size: 16px;
    color: #000;
    margin-right: 30px;
    margin-bottom: 0;
}
.teamInfo {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #e4e4e4;
}
.teamInfo li {
    font-weight: 600;
}

.lectureInfo {
    padding: 15px 0 0 0;
}

.teamComplete::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
}
.teamCompleteTxt {
    position: absolute;
    color: #fff;
    z-index: 1;
    font-size: 22px;
    font-weight: 600;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lectureSearch, .lectureSearch .articleTit {
    background: #fff;
}
.lectureSearch .searchList {
    border-right: 1px solid #e5e6e6;
}

.boardBtn {
    position: absolute;
    right: 24px;
}
.boardList li {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}

.boardList li a:hover {
    color: #0056c1;
}
.boardList li p {
    float: left;
    width: 15%;
    margin: 0;
    padding: 15px 0;
}
.boardList li .board_txt01 {
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    padding-right: 15px;
}
.studentListWrap .studentMbti {
    overflow: hidden;
    width: 80px;
    height: 80px;
}
.studentListWrap .studentMbtiTxt {
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 80px;
    margin: 0 0 0 20px;
}

/* 복습 */
.reviewTable tr{
    border-style: none;
}

/* 출석현황 */
.todayAttendance {
    width: 80%;
}

.todayAttendanceTxt {
    font-size: 16px;
}

.todayAttendanceBar {
    height: 35px;
    border-radius: 35px;
    font-size: 13px;
}

.totalAttendance {
    float: right;
}

.totalAttendanceNum {
    font-size: 28px;
}

.totalAttendanceNum span {
    color: #0058c8;
    position: relative;
    top: -7px;
}

.attendanceTable tr th span {
    display: block;
    font-size: 20px;
}

.attendanceTable tr th.active {
    color: #0061ce;
}
.attendanceTable tr {
    position: relative;
}

.studentDisabled::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.disabledBadges {
    position: absolute;
    background: #ff385e;
    color: #fff;
    top: 50%;
    left: 25px;
    padding: 5px 10px;
    border-radius: 25px;
    z-index: 9;
    transform: translateY(-50%);
}

.attendanceInfo .attendanceNum span{
    color: #0058c8;
    position: relative;
    top: -5px;
    font-weight: 700;
}

.studentAttendanceBar {
    height: 30px;
    border-radius: 35px;
    font-size: 13px;
}
.memberAttendanceBar {
    height: 20px;
    border-radius: 20px;
    width: 200px;
    position: relative;
    top: 2px;
}
.memberAttendanceNum {
    position: relative;
    top: -4px;
}



@media screen and (max-width: 991px) {
    .searchList { border-right: none; }
}

@media screen and (max-width: 767px) {


}


