<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="init2/comm_head.html"></th:block>

    <!--custom Css -->
    <link th:href="@{/assets/css/lecture.css}" rel="stylesheet" type="text/css"/>
    <!-- end custom css -->

    <!-- AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.serializeObject/2.0.3/jquery.serializeObject.min.js"></script>

    <!--calendar Css -->
    <!--Insert style sheet files-->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css"/>

    <!-- If you use the default popups, use this. -->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"/>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css"/>
    <link th:href="@{/assets/libs/calendar.css}" rel="stylesheet" type="text/css" />

    <!--  Insert JavaScript file  -->
    <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <!-- end carlendar Css -->

    <style>
        .empty-div{
            height: 150px;
        }
        .center-comment{
            position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
        }
        .disabledBadges2 {
            position: absolute;
            background: #ff385e;
            color: #fff;
            left: 100px;
            padding: 2px 10px;
            border-radius: 25px;
            display: inline-block;
            font-size: 12px;
            top: auto;
            transform: initial;
        }
        .bg-grey-student{
            background-color: rgba(152, 152, 152, 0.96);
        }
    </style>
</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init2/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here  -->
    <!-- 기획서 Lecture-01-02 -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content mb-5">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">팀 대시보드</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0 ">
                                    <li class="breadcrumb-item"><a href="#">전체 대시보드</a></li>
                                    <li class="breadcrumb-item active">팀 대시보드</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-lg-12">
                            <!-- 상단 부분 -->
                            <div class="row">
                                <div class="col-12">

                                    <div class="button-list"  >
                                        <th:block th:each='_,num : ${myTeamList}'>
                                            <button type="button" th:class="${_.division eq 0 ?'btn btn-outline-primary btn_bg':'btn btn-outline-danger btn_bg'}"
                                                    th:classappend="${myTeam?.teamId eq _.teamId?'active':''}"
                                                    th:text="|[${_.programName != null ? _.programName: _.categoryName}]${_.teamName}|"
                                                    th:onclick="moveTeamDashBoard([[${_.teamId}]]);">
                                            </button>
                                        </th:block>
                                    </div>

                                    <div class="card mt-4">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-success btn-sm me-2" onclick="moveDashboard()"> < 대시보드</button>
                                            <p class="lecture_txt01 d-inline-block"
                                               th:text='|[${myTeam.programName !=null ? myTeam.programName :myTeam.categoryName }]${myTeam.teamName}|'></p>
                                            <p class="lecture_txt01 d-inline-block" th:text="|총 학생 수 : ${studentList.size()}명|"></p>
                                            <p class="lecture_txt01 d-inline-block"
                                               th:text="|강의 기간 : ${myTeam?.startDt}${myTeam?.startDt != null ? '~' : '-'}${myTeam?.endDt}|"></p>
                                            <p class="lecture_txt01 d-inline-block" th:text="|총 강의 수 : ${countLecture} 회|"></p>
                                        </div>
                                    </div>

<!--                                    <div class="card mt-4">-->
<!--                                        <div class="card-body">-->
<!--                                            <h5 class="text-break mb-3">학습자료<a th:onclick="moveTeamPreview([[${myTeam?.teamId}]],0)"><span class="text-danger ms-1" th:text="|[${reviewCount}]|">[0]</span></a></h5>-->
<!--                                            <div class="boardBtn">-->
<!--                                                <button type="button" class="btn btn-primary" th:onclick="moveTeamPreview([[${myTeam?.teamId}]],0)">전체보기</button>-->
<!--                                            </div>-->

<!--                                            <div class="fileWrap mb-2">-->
<!--                                                &lt;!&ndash; TODO:과제 파일 불러오기 -> 다운로드 &ndash;&gt;-->
<!--                                                <img th:src="@{/assets/images/file-icons/zip.svg}" height="30" alt="icon" class="me-2">-->
<!--                                                <a href="">과제_20211030.zip</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->


                                    <div class="row">
                                        <!-- 복습 -->
                                        <div class="col-lg-6">
                                            <div class="card card-body">
                                                <h5 class="text-break mb-3">복습 <a th:onclick="moveTeamPreview([[${myTeam?.teamId}]],0)"><span class="text-danger ms-1" th:text="|[${reviewCount}]|">[0]</span></a></h5>
                                                <div class="boardBtn">
                                                    <button type="button" class="btn btn-primary" th:onclick="moveTeamPreview([[${myTeam?.teamId}]],0)">전체보기</button>
                                                </div>

                                                <p th:text="${reviewModel?.content}"></p>
                                                <p class="center-comment" th:if="${reviewModel?.content == null}">등록된 복습 내역이 없습니다.</p>

                                                <div class="ratio ratio-16x9">
                                                    <iframe width="560" height="315" th:src="${#strings.replace(reviewModel?.link,'https://youtu.be/','https://www.youtube.com/embed/')}"
                                                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 예습 -->
                                        <div class="col-lg-6">
                                            <div class="card card-body">
                                                <h5 class="text-break mb-3">예습 <a th:onclick="moveTeamPreview([[${myTeam?.teamId}]],1)"><span class="text-danger ms-1" th:text="|[${previewCount}]|">[0]</span></a></h5>
                                                <div class="boardBtn">
                                                    <button type="button" class="btn btn-primary" th:onclick="moveTeamPreview([[${myTeam?.teamId}]],1)">전체보기</button>
                                                </div>

                                                <p th:text="${previewModel?.content}"></p>
                                                <p class="center-comment" th:if="${previewModel?.content == null}">등록된 예습 내역이 없습니다.</p>

                                                <div class="ratio ratio-16x9">
                                                    <iframe width="560" height="315" th:src="${#strings.replace(previewModel?.link,'https://youtu.be/','https://www.youtube.com/embed/')}"
                                                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 출석현황 -->
                                        <div class="col-lg-12 mb-3">
                                            <div class="card card-body h-100">
                                                <h5 class="text-break mb-3">출석현황 </h5>
                                                <div class="boardBtn">
                                                    <button type="button" class="btn btn-primary" th:onclick="moveAttendance([[${myTeam?.teamId}]])">출석현황 보기</button>
                                                    <button type="button" class="btn btn-primary" th:onclick="moveLectureInfo([[${myTeam?.teamId}]])">일정수정 보기</button>
                                                </div>

                                                <section class="section_schedule">
                                                    <div id="calendar"></div>
                                                </section>

                                            </div>
                                        </div>

                                        <!-- 학생목록 -->
                                        <div class="col-lg-12 mb-3 studentList">
                                            <div class="card card-body h-100">
                                                <h5 class="text-break mb-3">학생목록  <span th:text="|${studentList.size()}명|"></span></h5>
                                                <div class="boardBtn">
                                                    <button type="button" class="btn btn-primary" th:onclick="moveMember([[${myTeam?.teamId}]])">전체보기</button>
                                                </div>

                                                <table id="table" class="table nowrap w-100 studentListWrap">
                                                    <thead>
                                                    <tr class="text-center">
                                                        <th>dataID</th>
                                                        <th>학생 MBTI</th>
                                                        <th>이름(생년월일)</th>
                                                        <th>성별</th>
                                                        <th>수강중인 팀</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <th:block th:each='_,num : ${studentList}'>
                                                        <tr class="text-center" th:classappend="${_.userRole ne 'MEMBER'? 'bg-grey-student':''}">
                                                            <td th:text="${num.count}"></td>
                                                            <td>
                                                                <div th:if="${_.userRole ne 'MEMBER'}" class="disabledBadges2">구독기간 만료</div>
                                                                <div>
                                                                    <div class="studentMbti float-start rounded">
                                                                        <th:block th:switch="${_.studentMbti}">
                                                                            <img th:case="''" th:src="@{/assets/images/users/avatar-1.jpg}" class="img-fluid rounded-circle">
                                                                            <img th:case="1" th:src="@{/images/team_mbti_type1.png}" class="img-fluid rounded-circle">
                                                                            <img th:case="2" th:src="@{/images/team_mbti_type2.png}" class="img-fluid rounded-circle">
                                                                            <img th:case="3" th:src="@{/images/team_mbti_type3.png}" class="img-fluid rounded-circle">
                                                                            <img th:case="4" th:src="@{/images/team_mbti_type4.png}" class="img-fluid rounded-circle">
                                                                            <img th:case="5" th:src="@{/images/team_mbti_type5.png}" class="img-fluid rounded-circle">
                                                                            <img th:case="6" th:src="@{/images/team_mbti_type6.png}" class="img-fluid rounded-circle">
                                                                            <img th:case="7" th:src="@{/images/team_mbti_type7.png}" class="img-fluid rounded-circle">
                                                                            <img th:case="8" th:src="@{/images/team_mbti_type8.png}" class="img-fluid rounded-circle">
                                                                        </th:block>
                                                                    </div>
                                                                    <th:block th:switch="${_.studentMbti}">
                                                                        <p th:case="''" class="studentMbtiTxt" th:text="${'미등록'}"></p>
                                                                        <p th:case="1" class="studentMbtiTxt" th:text="${'펭귄'}"></p>
                                                                        <p th:case="2" class="studentMbtiTxt" th:text="${'판다'}"></p>
                                                                        <p th:case="3" class="studentMbtiTxt" th:text="${'토끼'}"></p>
                                                                        <p th:case="4" class="studentMbtiTxt" th:text="${'다람쥐'}"></p>
                                                                        <p th:case="5" class="studentMbtiTxt" th:text="${'라쿤'}"></p>
                                                                        <p th:case="6" class="studentMbtiTxt" th:text="${'여우'}"></p>
                                                                        <p th:case="7" class="studentMbtiTxt" th:text="${'돌고래'}"></p>
                                                                        <p th:case="8" class="studentMbtiTxt" th:text="${'사자'}"></p>
                                                                    </th:block>
                                                                </div>
                                                            </td>
                                                            <td th:text="|${_.userName}(${_.studentBirth})|"></td>
                                                            <td th:text="${_.studentGender eq'F' ? '여성':'남성'}"></td>
                                                            <td th:text="${_.teamName}"></td>
                                                        </tr>
                                                    </th:block>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- Q&A -->
                                        <div class="col-lg-6">
                                            <div class="card card-body">
                                                <h5 class="text-break mb-3">Q&A</h5>
                                                <div class="boardBtn">
                                                    <button type="button" class="btn btn-primary" th:onclick="moveQaList([[${myTeam?.teamId}]])">전체보기</button>
                                                </div>

                                                <ul class="boardList">
                                                    <th:block th:if="${qaList.size()>0}">
                                                        <li th:each='_,num : ${qaList}'>
                                                            <a href="#" th:onclick="moveQaDetail([[${_.qaId}]])">
                                                                <p class="board_txt01">
                                                                    <span th:if='${_.qaStatus eq 0}'
                                                                          class="badge bg-danger rounded-pill solution_badge">미해결</span>
                                                                    <ys th:text='${_.title}'></ys>
                                                                    <span class="text-danger ms-1" th:text="|[${_.countReply}]|">[0]</span>
                                                                </p>
                                                                <p class="board_txt02" th:text="${_.userName}"></p>
                                                                <p class="board_txt03" th:text="${_.teamName}"></p>
                                                                <p class="board_txt04" th:text="${_.regDt}"></p>
                                                            </a>
                                                        </li>
                                                    </th:block>
                                                </ul>
                                                <div th:if="${qaList.size() eq 0}" class="empty-div">
                                                    <p class="center-comment">등록된 Q&A 내역이 없습니다.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 과제 -->
                                        <div class="col-lg-6">
                                            <div class="card card-body">
                                                <h5 class="text-break mb-3">최근 과제</h5>
                                                <div class="boardBtn">
                                                    <button type="button" class="btn btn-primary" th:onclick="moveHomeworkList([[${myTeam?.teamId}]])">전체보기</button>
                                                </div>

                                                <ul class="boardList">
                                                    <th:block th:if="${homeworkList.size()>0}">
                                                        <li th:each='_,num : ${homeworkList}'>
                                                            <a href="#" th:onclick="moveHomeworkDetail([[${_.homeworkId}]])">
                                                                <p class="board_txt01">
                                                                    <ys th:text='${_.title}'></ys>
                                                                    <span class="text-danger ms-1" th:text="|[${_.countReply}]|">[0]</span>
                                                                </p>
                                                                <p class="board_txt02" th:text="${_.userName}"></p>
                                                                <p class="board_txt03" th:text="${_.teamName}"></p>
                                                                <p class="board_txt04" th:text="${_.regDt}"></p>
                                                            </a>
                                                        </li>
                                                    </th:block>
                                                </ul>
                                                <div th:if="${homeworkList.size() eq 0}" class="empty-div">
                                                    <p class="center-comment">등록된 과제 내역이 없습니다.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- end col -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init2/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init2/comm_script.html"></th:block>
<script type="text/javascript" th:src="@{/assets/libs/calendar.js}"></script>

<script type="text/javaScript">
    let table;
    let year = ''; // 년도
    let month = '';  // 월

    /*<![CDATA[*/
    let teamId = "[[${myTeam.teamId}]]";
    let startDt = "[[${startDt}]]";
    /*]]>*/

    console.log(teamId);

    $(function () {

        $('.menu02').addClass('menuitem-active');
        $('.menu02 a').addClass('active');

        table = $('#table').DataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
            ],
            "ordering": false,
            "scrollX": true,
            "searching": false, //검색 삭제
            "info": false, //하단 정보 삭제 (Showing 1 to 8 of 8 entries)
            "lengthChange": false, //테이블의 페이징 표시
            "paging": false,

            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                }
            },
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
        });

        getSchedule(year,month,teamId,startDt);

        $("#teamList").change(function(){
            let teamId =  $(this).val();
            let startDt = '';
            getSchedule(year,month,teamId,startDt);
        });
    });

    function getSchedule(year,month,teamId,startDt){
        console.log("startDt =============> ",startDt);
        let sFormData = new FormData();
        sFormData.append('searchMonth', month);
        sFormData.append('searchYear', year);
        sFormData.append('teamId', teamId);

        try{
            axios.request({method: 'POST', url:  conPath+'schedule/getSchedule', data: sFormData}).then(function (response) {
                //직렬화
                const result = JSON.parse(JSON.stringify(response));
                console.log("result",result);
                console.log("result.data",result.data);
                console.log("result.data.status",result.data.status);
                console.log("result.data.data",result.data.data);
                console.log("result.data.message",result.data.message);

                if(result.data.status == 200){

                    let events = new Array();

                    for(let i =0; i<result.data.data.length; i++){

                        let setDt = result.data.data[i].startDt;
                        if(result.data.data[i].programName!=null){
                            strCat = result.data.data[i].programName;
                        }else{
                            strCat = result.data.data[i].categoryName;
                        }
                        // let strTitle = '['+ strCat+']'+result.data.data[i].teamName;
                        let strTitle = '['+ strCat+']'+result.data.data[i].teamName;
                        let arrSetDt = setDt.split("-");
                        events[i] = {
                            'Date': new Date(arrSetDt[0],parseInt(arrSetDt[1])-1,arrSetDt[2]),
                            'Title':'',
                            'Link':'',
                            'Schedule':[
                                {
                                    time:result.data.data[i].startTime,
                                    title:strTitle,
                                    type:'type2',
                                    link:'javascript:openZoomLink("'+result.data.data[i].zoomLink+'","'+strTitle+'","'+result.data.data[i].startTime+'","'+result.data.data[i].userName+'","'+result.data.data[i].lectureId+'","'+result.data.data[i].startDt+'");'
                                }, //함수
                            ]
                        };
                    }

                    console.log(events);

                    //예시 예제(일정 비동기로 데이터 가져올 시)
                    async function eventsChange(date){
                        console.log('다음 이벤트 스케줄로 변경');
                        console.log(new Date(date).getMonth());

                        const delay = time => new Promise(res=>setTimeout(()=>res(),time));

                        let tmpData = [];
                        for(let i =0; i<12; i++){
                            if(new Date(date).getMonth()==i){
                                // await delay(1000);
                                tmpData = events;
                            }
                        }

                        console.log('데이터 업로드 완료');

                        return tmpData;
                    }

                    let settings = {
                        ModelChange:eventsChange    // n월 이동 시 표기할 데이터 전달(결과깂은 반드시 위 예제[events]와 같은 구조로 배열 작성)
                    };
                    //초기화 및 선언
                    $("#calendar").empty();
                    const element = document.getElementById('calendar');
                    if(startDt){
                        calendarSel(element, events, settings,new Date(startDt));//전달 받은 값이 있을경우
                    }else{
                        calendar(element, events, settings);
                    }

                }else{
                    if(result.data.status != 200){
                        alert(result.data.message);
                    }
                }
            }).catch(function (error) {
                console.log('error:::::',error);
            });
        }catch (err){
            console.error(err);
        }
    }

    //복습 목록으로 이동
    function moveReview() {
        location.href = conPath+"pub2/lecture/review";
    }

    //예습 목록으로 이동
    function movePreview() {
        location.href = conPath+"pub2/lecture/preview";
    }

    //출석현황으로 이동
    function moveAttendance(teamId) {
        location.href = conPath+"attendance/lectureInfo?teamId="+teamId;
    }

    //일정수정 이동
    function moveLectureInfo(teamId) {
        location.href = conPath+"t_lecture/lectureInfo?teamId="+teamId;
    }

    //학생목록
    function  moveMember(teamId) {
        location.href = conPath+"myLecture/teamMemberList?teamId="+teamId;
    }

    //Q&A 목록으로 이동
    function moveQaList(teamId) {
        location.href = conPath+"qa/list?teamId="+teamId;
    }

    //Q&A 상세
    const moveQaDetail = function(id) {
        location.href = conPath + "qa/detail?id=" + id;
    }

    //과제 목록으로 이동
    function moveHomeworkList(teamId) {
        location.href = conPath+"homework/list?teamId="+teamId;
    }

    //과제 상세
    const moveHomeworkDetail = function (id){
        location.href = conPath+"homework/detail?id="+id;
    }

    //다른 팀 대시보드로 이동
    function moveTeamDashBoard(teamId) {
        location.href = conPath+ "myLecture/teamDashboard?teamId="+teamId;
    }

    //다른 팀 대시보드로 이동
    function moveTeamPreview(teamId,division) {
        location.href = conPath + "preparation/list?teamId="+teamId+"&division="+division;
    }

    //팀 대시보드
    function moveDashboard() {
        location.href = conPath + "myLecture/dashboard";
    }
</script>

</body>

</html>