<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webstarter.manage.mapper.db1.teacher.T_TeamMapper">

    <!-- 커뮤니티> 과제> 검색시 팀 목록 -->
    <select id="getTeamListByTeacher" resultType="TeamModel" parameterType="String">
        <![CDATA[
            SELECT team_id, team_name, program_name, category_name
            FROM dreamer.view_use_team TEA
                     JOIN dreamer.view_teacher_user VTU on TEA.fk_tuser_id = VTU.fk_tuser_id
                     LEFT JOIN dreamer.program PGM on TEA.fk_program_id = PGM.program_id
                     LEFT JOIN dreamer.team_category TCY on TEA.fk_category_id = TCY.team_category_id
            WHERE TEA.fk_tuser_id= #{teacherId}
            ORDER BY TEA.reg_dt DESC
        ]]>
    </select>

</mapper>