<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webstarter.manage.mapper.db1.TermsMapper">

    <!-- 약관 가져오기 -->
    <select id="getTerm" resultType="String" parameterType="String">
        <![CDATA[
            SELECT
                t.contents
            FROM dreamer.terms as t
            WHERE t.type = #{type}
        ]]>
    </select>


    <!-- 약관 수정 -->
    <update id="updateTerm" parameterType="HashMap">
        <![CDATA[
            UPDATE dreamer.terms
            SET contents = #{contents}
            WHERE type = #{type}
        ]]>
    </update>
</mapper>
