<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="init2/comm_head.html"></th:block>
    <!--custom Css -->
    <link th:href="@{/assets/css/community.css}" rel="stylesheet" type="text/css"/>
    <!-- end custom css -->
</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init2/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- 기획서 Community-01-01 -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Q&A</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Q&A</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="searchTable mb-3">
                                    <div class="articleWrap row">
                                        <div class="col-md-4 searchList">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>팀 선택</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <select name="teamName" class="form-select">
                                                    <option value="1">All</option>
                                                    <option value="2">[주니어]-기초</option>
                                                    <option value="3">[주니어]-중급</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 searchList">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>작성자</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <input name="studentName" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="d-table-cell align-middle text-center fw-bold articleTit">
                                                <p>제목</p>
                                            </div>
                                            <div class="d-table-cell align-middle articleChoice">
                                                <input name="qaTitle" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-list text-center mb-3">
                                    <button type="button" class="btn btn-primary btn_bg btn90">검색</button>
                                </div>


                                <ul class="nav nav-tabs nav-bordered">
                                    <li class="nav-item">
                                        <a href="#qa_b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                                            <span class="d-inline-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
                                            <span class="d-none d-sm-inline-block">모든 Q&A 보기</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#qa_b2" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                                            <span class="d-inline-block d-sm-none"><i class="mdi mdi-account"></i></span>
                                            <span class="d-none d-sm-inline-block">해결된 Q&A 보기</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#qa_b3" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                            <span class="d-inline-block d-sm-none"><i class="mdi mdi-email-variant"></i></span>
                                            <span class="d-none d-sm-inline-block">미해결된 Q&A 보기</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="qa_b1" class="tab-pane active">
                                        <table id="table" class="table table-hover nowrap w-100".>
                                            <thead>
                                            <tr class="text-center">
                                                <th>dataID</th>
                                                <th>#</th>
                                                <th class="text-start">제목</th>
                                                <th>작성자</th>
                                                <th>팀</th>
                                                <th class="col-2">등록일</th>
                                            </tr>
                                            </thead>


                                            <tbody>
                                            <tr class="cursor text-center">
                                                <td>1</td>
                                                <td>10</td>
                                                <td class="text-start"><span class="badge bg-danger rounded-pill solution_badge">미해결</span>질문있습니다.</td>
                                                <td>원빈</td>
                                                <td>[주니어]-기초</td>
                                                <td>2021.08.08</td>
                                            </tr>

                                            <tr class="cursor text-center">
                                                <td>1</td>
                                                <td>9</td>
                                                <td class="text-start"><span class="badge bg-primary rounded-pill solution_badge">해결</span>질문있습니다.</td>
                                                <td>원빈</td>
                                                <td>[주니어]-기초</td>
                                                <td>2021.08.08</td>
                                            </tr>

                                            <tr class="cursor text-center">
                                                <td>1</td>
                                                <td>8</td>
                                                <td class="text-start"><span class="badge bg-primary rounded-pill solution_badge">해결</span>질문있습니다.</td>
                                                <td>원빈</td>
                                                <td>[주니어]-기초</td>
                                                <td>2021.08.08</td>
                                            </tr>

                                            <tr class="cursor text-center">
                                                <td>1</td>
                                                <td>7</td>
                                                <td class="text-start"><span class="badge bg-primary rounded-pill solution_badge">해결</span>질문있습니다.</td>
                                                <td>원빈</td>
                                                <td>[주니어]-기초</td>
                                                <td>2021.08.08</td>
                                            </tr>

                                            <tr class="cursor text-center">
                                                <td>1</td>
                                                <td>6</td>
                                                <td class="text-start"><span class="badge bg-primary rounded-pill solution_badge">해결</span>질문있습니다.</td>
                                                <td>원빈</td>
                                                <td>[주니어]-기초</td>
                                                <td>2021.08.08</td>
                                            </tr>

                                            <tr class="cursor text-center">
                                                <td>1</td>
                                                <td>5</td>
                                                <td class="text-start"><span class="badge bg-primary rounded-pill solution_badge">해결</span>질문있습니다.</td>
                                                <td>원빈</td>
                                                <td>[주니어]-기초</td>
                                                <td>2021.08.08</td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </div><!-- end col-->
                </div>
                <!-- end row-->


            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init2/comm_script.html"></th:block>

<script type="text/javaScript">
    let table;

    $(document).ready(function () {
        table = $('#table').DataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
                {"width": "3%", "targets": 1}
            ],
            "searching": false, //검색 삭제
            "ordering": false,
            "scrollX": true,

            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                }
            },
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
        });
    });


    $('#table tbody').on('click', 'td', function () {
        let indexColumnVisible = table.cell(this).index().columnVisible; //노출되는 컬럼(열) 중 클릭한 컬럼의 index
        let indexColumn = table.cell(this).index().column; // 감춰진 것 까지 포함된 컬럼(열)의 index
        let indexRow = table.cell(this).index().row; //클릭한 Row(행)의  index
        let totalColumnCount = table.columns().count(); //전체 열 갯수
        let indexData = table.row(this).data()[0]; //감춰진 0번째 dataID 값

        if (indexColumn < totalColumnCount) {
            // 수정&삭제 영역은 클릭 적용하지 않음
            location.href = conPath+"pub2/community/qa/detail?id=" + indexData;
        }
    });

</script>

</body>

</html>