<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <th:block th:include="init2/comm_head.html"></th:block>

    <!--custom Css -->
    <link th:href="@{/assets/css/community.css}" rel="stylesheet" type="text/css"/>
    <!-- end custom css -->

</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init2/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here  -->
    <!-- 기획서 Teacher-01-02 -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content mb-5">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">강사 상세</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0 ">
                                    <li class="breadcrumb-item"><a th:href="@{/pub/teacher/list}">강사관리</a></li>
                                    <li class="breadcrumb-item active">강사 상세</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <!-- 첫번째 카드 -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="mb- col-md-12">
                                                    <div class="text-center">
                                                        <img th:src='@{/images/teacher01.png}' class="img-fluid rounded" width="240px"/>
                                                    </div>
                                                    <p class="myName text-center">도지은</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label">ID</label>
                                                    <div class="input-group">
                                                        <input name="teacherID" type="text" class="form-control" value="dreamer" disabled>
                                                        <button class="btn btn-primary" type="button"
                                                                data-bs-toggle="modal" data-bs-target="#delete-modal" onclick="password(0);">비밀번호 변경</button>
                                                    </div>
                                                </div>

                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label">생년월일</label>
                                                    <input name="teacherBirthDate" type="text" class="form-control" value="2020-08-20" disabled>
                                                </div>

                                                <div class="mb-3 col-md-12">
                                                    <label class="form-label">휴대전화</label>
                                                    <input name="teacherPhoneNumber" type="text" class="form-control" value="01045632144" disabled>
                                                </div>

                                                <div class="mb-3 col-md-12">
                                                    <label class="form-label">이메일</label>
                                                    <input name="teacherEmail" type="text" class="form-control" value="12143 서울시강남구역삼동112-12102호" disabled>
                                                </div>

                                                <div class="mb-3 col-md-12">
                                                    <label class="form-label">주소</label>
                                                    <input name="teacherAddress" type="text" class="form-control" value="dreamer@naver.com" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="grayLine"></div>


                                        <div class="mb-3 mt-3 col-md-12">
                                            <label class="form-label">분야</label>
                                            <div>
                                                <textarea class="form-control" id="area" rows="10" disabled> 분야 입니다.</textarea>
                                            </div>
                                        </div>

                                        <div class="mb-3 col-md-12">
                                            <label class="form-label">이력</label>
                                            <div>
                                                <textarea class="form-control" id="speck" rows="10" disabled> 이력 입니다.</textarea>
                                            </div>
                                        </div>

                                        <div class="mb-3 col-md-12">
                                            <label class="form-label">소개말</label>
                                            <div>
                                                <textarea class="form-control" id="introduction" rows="10" disabled> 소개말 입니다.</textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
                <!-- end col -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init2/comm_script.html"></th:block>

<script type="text/javaScript">

    $(document).ready(function () {


    });

    //알림
    function password(params) {
        // Swal.fire('Any fool can use a computer');
        Swal.fire({
            title: '비밀번호 변경',
            html: ' <div class="row mb-3">\n' +
                '                                    <label class="col-sm-3 col-form-label passwordTxt">현재 비밀번호</label>\n' +
                '                                    <div class="col-sm-9">\n' +
                '                                        <input type="password" class="form-control" placeholder="">\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                                \n' +
                '                                <div class="grayLine"></div>\n' +
                '                            \n' +
                '                                <div class="row mb-3 mt-3">\n' +
                '                                    <label class="col-sm-3 col-form-label passwordTxt">변경할 비밀번호</label>\n' +
                '                                    <div class="col-sm-9">\n' +
                '                                        <input type="password" class="form-control" placeholder="">\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                                <div class="row mb-4">\n' +
                '                                    <label class="col-sm-3 col-form-label passwordTxt">비밀번호 재입력</label>\n' +
                '                                    <div class="col-sm-9">\n' +
                '                                        <input type="password" class="form-control" placeholder="">\n' +
                '                                    </div>\n' +
                '                                </div>' +
                '                               ',
            showDenyButton: false, //거절버튼
            showCancelButton: true, //취소버튼
            confirmButtonText: '변경', //확인 글자
            cancelButtonText: `취소`, //취소 글자
            confirmButtonColor: '#0056c1',
            cancelButtonColor: '#dc3545',
            reverseButtons: true,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                //승인 눌럿을때
                location.href = conPath+"board/delete?id=" + boardId;


                // Swal.fire('삭제가 완료되었습니다.', '', 'success')
            } else if (result.isDenied) {
                //거절 눌럿을때
                Swal.fire('Changes are not saved', '', 'info')
            }
        })

    }


</script>

</body>

</html>