<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <th:block th:include="init2/comm_head.html"></th:block>


    <!--custom Css -->
    <link th:href="@{/assets/css/team.css}" rel="stylesheet" type="text/css"/>
    <!-- end custom css -->

    <!--calendar Css -->
    <!--Insert style sheet files-->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />

    <!-- If you use the default popups, use this. -->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
    <link th:href="@{/assets/libs/calendar.css}" rel="stylesheet" type="text/css" />

    <!--  Insert JavaScript file  -->
    <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
<!--    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>-->

    <!-- end carlendar Css -->
</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">
    <!-- ============ 공통 !!!!!!!============ -->
    <th:block th:include="init2/comm_menu.html"></th:block>
    <!-- ============ 공통 끝!!!!!! ============ -->

    <!-- ============================================================== -->
    <!-- Start Page Content here  -->
    <!-- 기획서 Schedule-01-01 -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content mb-5">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">일정</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0 ">
                                    <li class="breadcrumb-item active">일정</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <!-- 첫번째 카드 -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="overflow-hidden mb-1">
                                        <div class="d-table-cell align-middle teamList">
                                            <select name="teamList" class="form-select">
                                                <option value="1">All</option>
                                                <option value="2">[하이틴]-기초</option>
                                                <option value="3">[독서클럽]-소셜팀</option>
                                            </select>
                                        </div>
                                        <p class="scheduleText m-0 pt-2">아래 달력의 날짜를 클릭하시면 해당 날짜의 세부 내용을 보실 수 있습니다.</p>
                                    </div>

                                    <div class="scheduleBox">
                                        <div class="row">
                                            <div class="col-md-10 align-items-center scheduleWrap">
                                                <div class="calenderDay">
                                                    <i class="ri-calendar-check-line calenderIcon"></i>
                                                    <p class="mb-0">2021-07-19</p>
                                                </div>

                                                <div class="calenderData position-relative overflow-hidden pt-0">
                                                    <div>
                                                        <span class="badge badge-soft-danger rounded-pill homeworkBadge">과제제출수업</span>
                                                    </div>
                                                    <p>[하이틴]-기초</p>
                                                    <p>김수현 강사</p>
                                                    <p>강의 시간 : 14:00 </p>
                                                    <p>https://zoom.us/j/556563CX34</p>
                                                    <div class="lectureLink position-relative">
                                                        <button type="button" class="btn btn-primary"
                                                                data-bs-toggle="modal" data-bs-target="#delete-modal" onclick="delNotice(0);">링크 전송
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="calenderData position-relative overflow-hidden">
                                                    <p>[독서클럽]-소셜팀</p>
                                                    <p>김수현 강사</p>
                                                    <p>강의 시간 : 14:00 </p>
                                                    <p>https://zoom.us/j/556563CX34</p>
                                                    <div class="lectureLink position-relative">
                                                        <button type="button" class="btn btn-primary"
                                                                data-bs-toggle="modal" data-bs-target="#delete-modal" onclick="delNotice(0);">링크 전송
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2 scheduleWrap scheduleClassCount">
                                                <div class="w-100 overflow-hidden">
                                                    <p class="">등록된 강의 횟수 : 1회</p>
                                                </div>
                                                <div class="w-100 overflow-hidden text-danger">
                                                    <p class="">등록할 강의 횟수 : 22회</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <!-- 두번째 카드 -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- 캘린더가 들어가는 자리 -->
                                    <label>일정</label>
<!--                                    <div id="calendar2"></div>-->

                                    <section class="section_schedule">
                                        <div id="calendar"></div>
                                    </section>
                                </div>



                            </div>


                        </form>
                    </div>
                </div>
                <!-- end col -->


            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:include="init2/comm_footer.html"></th:block>
        <!-- end Footer -->

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<th:block th:include="init2/comm_script.html"></th:block>
<script type="text/javascript" th:src="@{/assets/libs/calendar.js}"></script>


<script type="text/javaScript">

    document.addEventListener('DOMContentLoaded',function(){
        //option에 해당되는 영역
        let events = [
            {
                'Date': new Date(2021, 10, 15),
                'Title':'Schedule과 Link가 없으면 일반텍스트만 출력',
            },
            {
                'Date': new Date(2021, 10, 16),
                'Title':'일반 텍스트에 링크적용',
                'Link':'https://www.daum.net',
            },
            {
                'Date': new Date(2021, 10, 17),
                'Title':'스케줄 설정(schedule 배열로 지정하기)',
                'Link':'https://www.daum.net',
                'Schedule':[
                    {time:'18:00',title:'제목',type:'type1',link:'https://www.naver.com'},
                    {time:'19:00',title:'제목1',type:'type2',link:'https://www.naver.com'},
                    {title:'제목2',type:'type3'},
                    {time:'21:00',title:'제목3',type:'type4'},
                ]
            },
            {
                'Date': new Date(2021, 10, 18),
                'Schedule':[
                    {title:'출석완료',type:'type1'},
                    {title:'미출석',type:'type2'},
                    {title:'과제제출',type:'type3'},
                    {title:'과제제출완료',type:'type4'},
                ]
            },
        ];

        let events2 = [
            {
                'Date': new Date(2021, 11, 15),
                'Title':'12월 이벤트 변경',
                'Schedule':[
                    {title:'출석완료',type:'type1'},
                    {title:'미출석',type:'type2'},
                    {title:'과제제출',type:'type3'},
                    {title:'과제제출완료',type:'type4'},
                ]
            },
        ];

        //예시 예제(일정 비동기로 데이터 가져올 시)
        async function eventsChange(date){
            console.log('다음 이벤트 스케줄로 변경');
            console.log(new Date(date).getMonth());

            const delay = time => new Promise(res=>setTimeout(()=>res(),time));

            let tmpData = [];
            if(new Date(date).getMonth()===10){
                // await delay(1000);
                tmpData = events;
            }
            if(new Date(date).getMonth()===11){
                // await delay(1000);
                tmpData = events2;
            }
            console.log('데이터 업로드 완료');

            return tmpData;
        }

        /*
        events : 초기 일정데이터
        settings : 옵션 설정
        /assets/js/lib/calendar.js 라이브러리 사용(용도에 맞추어 라이브러리 수정되었으며, 추후 필요에 따라 수정하여 사용하면 됨)
        */
        let settings = {
            ModelChange:eventsChange    // n월 이동 시 표기할 데이터 전달(결과깂은 반드시 위 예제[events]와 같은 구조로 배열 작성)
        };

        //초기화 및 선언
        const element = document.getElementById('calendar');
        calendar(element, events, settings);//전달 받은 값이 없을경우
        // calendarSel(element, events, settings,new Date('1992-6-22'));//전달 받은 값이 있을경우
    });



    $(document).ready(function () {

    });


    //알림
    function delNotice(params) {
        // Swal.fire('Any fool can use a computer');
        Swal.fire({
            title: '줌링크 수정/전송',
            html: '<div class="zoomLink row mb-3 text-center">\n' +
                '                                <p class="col-md-4">[독서클럽]-소셜팀</p>\n' +
                '                                <p class="col-md-4">김수현 강사</p>\n' +
                '                                <p class="col-md-4">강의 시간 : 14:00 </p>\n' +
                '                            </div>\n' +
                '\n' +
                '                            <div class="mb-3 text-start">\n' +
                '                                <label class="form-label">줌링크</label>\n' +
                '                                <input name="zoomLink" type="text" class="form-control" value="https://zoom.us/123456552" disabled="">\n' +
                '                            </div>',
            showDenyButton: false, //거절버튼
            showCancelButton: true, //취소버튼
            confirmButtonText: '링크 수정만 하기', //확인 글자
            cancelButtonText: `수정 및 전송하기`, //취소 글자
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#0056c1',
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                //승인 눌럿을때
                location.href = conPath + "board/delete?id=" + boardId;


                // Swal.fire('삭제가 완료되었습니다.', '', 'success')
            } else if (result.isDenied) {
                //거절 눌럿을때
                Swal.fire('Changes are not saved', '', 'info')
            }
        })

    }


    //캘린더
    /*
    var calendar = new tui.Calendar(document.getElementById('calendar'), {
        defaultView: 'month',
        taskView: true,    // Can be also ['milestone', 'task']
        scheduleView: true,  // Can be also ['allday', 'time']
        template: {
            milestone: function(schedule) {
                return '<span style="color:red;"><i class="fa fa-flag"></i> ' + schedule.title + '</span>';
            },
            milestoneTitle: function() {
                return 'Milestone';
            },
            task: function(schedule) {
                return '&nbsp;&nbsp;#' + schedule.title;
            },
            taskTitle: function() {
                return '<label><input type="checkbox" />Task</label>';
            },
            allday: function(schedule) {
                return schedule.title + ' <i class="fa fa-refresh"></i>';
            },
            alldayTitle: function() {
                return 'All Day';
            },
            time: function(schedule) {
                return schedule.title + ' <i class="fa fa-refresh"></i>' + schedule.start;
            }
        },
        month: {
            daynames: ['일', '월', '화', '수', '목', '금', '토'],
            startDayOfWeek: 0,
            // narrowWeekend: true
        },

    });

     */

    // event handlers
    /*
    calendar.on({
        'clickDayname': function (date) {
            console.log('clickDayname', date);
        },
        'clickSchedule': function(e) {
            console.log('clickSchedule', e);
        },
        'beforeCreateSchedule': function(e) {
            console.log('beforeCreateSchedule', e);
            // open a creation popup
            // If you dont' want to show any popup, just use `e.guide.clearGuideElement()`
            // then close guide element(blue box from dragging or clicking days)
            e.guide.clearGuideElement();
        },
        'beforeUpdateSchedule': function(e) {
            console.log('beforeUpdateSchedule', e);
            e.schedule.start = e.start;
            e.schedule.end = e.end;
            cal.updateSchedule(e.schedule.id, e.schedule.calendarId, e.schedule);
        },
        'beforeDeleteSchedule': function(e) {
            console.log('beforeDeleteSchedule', e);
            cal.deleteSchedule(e.schedule.id, e.schedule.calendarId);
        }
    });

     */
</script>

</body>

</html>