<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>
            <span>*</span> 표시는 필수 입니다.
        </p>
        <form th:action='@{/teacher/{pathParam}(pathParam=${urlType})}' th:object='${reqModel}' method="post">

            <input type="hidden" name="edit" th:value="${edit}">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="userId" class="form-label">ID<span>*</span></label>
                    <input type="text" th:field='*{userId}' th:text='${userId}'
                           th:readonly="${edit eq 1 ? 'readonly': false}"
                           th:style="${edit eq 1 ? 'background-color:grey':''}"
                           id="userId" required placeholder="아이디를 입력해 주세요">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="userPassword" class="form-label">비밀번호<span>*</span></label>
                    <input type="text" th:field='*{userPassword}' th:text='${userPassword}'
                           th:readonly="${edit eq 1 ? 'readonly': false}"
                           th:style="${edit eq 1 ? 'background-color:grey':''}"
                           id="userPassword" required placeholder="비밀번호를 입력해 주세요">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="userName" class="form-label">강사이름<span>*</span></label>
                    <input type="text" th:field='*{userName}' th:text='${userName}'
                           th:readonly="${edit eq 1 ? 'readonly': false}"
                           th:style="${edit eq 1 ? 'background-color:grey':''}"
                           id="userName" required placeholder="이름을 입력해 주세요">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">성별</label>
                    <div class="pt-1">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                   th:field="*{teacherGender}"
                                   th:value="F"
                                   th:checked="${teacherGender eq 'F' ? 'checked' : ''}"
                                   name="inlineRadioOptions" id="inlineRadio1" checked>
                            <label class="form-check-label" for="inlineRadio1">여자</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                   th:field="*{teacherGender}"
                                   th:value="M"
                                   th:checked="${teacherGender eq 'M' ? 'checked' : ''}"
                                   name="inlineRadioOptions" id="inlineRadio2">
                            <label class="form-check-label" for="inlineRadio2">남자</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="teacherBirth" class="form-label">생년월일<span>*</span></label>
                    <input type="text" th:field='*{teacherBirth}' th:text='${teacherBirth}'
                           id="teacherBirth" required placeholder="이름을 입력해 주세요">
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <div class="form-check form-check-inline">
                    <label for="teacherCell" class="form-label">휴대전화<span>*</span></label>
                    <input type="text" th:field='*{teacherCell}' th:text='${teacherCell}'
                           id="teacherCell" required placeholder="이름을 입력해 주세요">
                </div>
                <div class="form-check form-check-inline">
                    <label for="teacherEmail" class="form-label">이메일<span>*</span></label>
                    <input type="text" th:field='*{teacherEmail}' th:text='${teacherEmail}'
                           id="teacherEmail" required placeholder="이름을 입력해 주세요">
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label for="address_kakao" class="form-label">주소<span>*</span></label>
                <input type="text" th:field='*{teacherAddr}' th:text='${teacherAddr}'
                       id="address_kakao" name="address" readonly />
                <input type="text" name="address_detail" th:field='*{teacherAddrDetail}' th:text='${teacherAddrDetail}'/>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="teacherProfile" class="form-label">프로필 사진<span
                            class="text-danger">*</span>(최소 1개 이상)</label>
                    <div class="fallback" id="teacherProfile">
                        <input name="artImage" id="artImage" type="file"
                               th:field="*{teacherProfile}" th:value='${teacherProfile}'
                               class="form-control mb-1" required placeholder="파일첨부">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="field" class="form-label">분야<span class="text-danger">*</span></label>
                    <select th:name='fkCategoryId' id="field" class="form-select">
                        <option disabled selected hidden>분야를 선택해주세요.</option>
                        <option th:each='_ : ${categoryList}'
                                th:value='${_?.categoryId}'
                                th:utext='${_?.categoryName}'
                                th:selected="${categoryId eq fkCategoryId}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="mb-3  col-md-12">
                    <label for="teacherHistory" class="form-label">이력<span class="text-danger">*</span></label>
                    <div>
                            <textarea th:field='*{teacherHistory}' th:text='${teacherHistory}'
                                      id="teacherHistory" rows="5" required placeholder="내용을 등록하십시오"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3  col-md-12">
                    <label for="introduction" class="form-label">소개말<span class="text-danger">*</span></label>
                    <div>
                            <textarea th:field='*{teacherIntroduce}' th:text='${teacherIntroduce}'
                                      id="introduction" rows="5" required placeholder="내용을 등록하십시오"></textarea>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" th:text="${edit eq 1 ? '수정완료' : '등록'}"></button>
            </div>
        </form>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        window.onload = function(){
            document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function(data) { //선택시 입력값 세팅
                        document.getElementById("address_kakao").value = data.address; // 주소 넣기
                        document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                    }
                }).open();
            });
        }
    </script>
</body>
</html>